*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}

body{
    background-image: url(imgs/Icons/tela\ fundo.png);
    overflow: hidden;
    
}
header{
    width: 100vw;
    height: 100px;
    display: flex;

   
}

.logo{
    width: 20%;
    height: 100px;   
}

.logo img{
    padding-top: 25px;
    padding-bottom: 70px;
    padding-left: 4.3rem;
    margin: 20px;
    



    width: 235px;
    height: 200px;
}
nav{
    width: 60%;
    height: 100px;
    justify-content: center;
    padding-top: 4rem;
    padding-left: 5.5rem;
    padding-right: 3rem;

    
}

nav a {
    margin-right: 3rem;
    text-decoration: none;
    color: antiquewhite;
    text-align: center;
    font-size: 2.24em;
    
}

nav a:hover{
    text-decoration: 2rem dotted #fff;
    transition: 120ms ease-in;
    text-shadow: -4px -3px #ffffff;
    
}

.login {
    width: 20%;     
    height: 100px;
    background: aq;

}

.login input{
    margin-top: 3.5rem;
    
    background: rgb(190, 28,65);
    border: 1px solid rgb(190, 28,65);
    border-radius: 2em;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;


    background-image: url(imgs/quadrados/Voltar.png);
    background-position: left;
    background-position: 15px;
    background-size: 40px ;
    background-repeat: no-repeat;
    
}

.logintxt{
    
    margin-left: 20px;
    align-items: end;

}


main{
    
    display: flex;
    width: 100vw;
    height: 102vh;
    background-image: url(imgs/Icons/bg.png);
    background-size: cover;
    background-position: center bottom 5rem;
    padding-top: 6.5rem;
}

.esquerda {

    width: 40%;
    height: 500px;
    margin-top: 20px;
    padding-left: 4rem;
    padding-right: 4rem;


}

.inputs{
    padding-left: 40px;
    padding-bottom: 70px;
    margin-right: 50px;
  

    


}
.input1{
    margin-top: 3.5rem;
    padding: 1rem 3.5rem;
    background: rebeccapurple;
    border: 1px solid rebeccapurple;
    border-radius: 2em;
    text-align: center;
    color: #fff;

}

.input2{
    margin-top: 3.5rem;
    padding: 1rem 3.5rem;
    background: rgb(190, 28,65);
    border: 1px solid rgb(190, 28,65);
    border-radius: 2em;
    text-align: center;
    color: #fff;
}


.direita{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 660px;
    padding-right: 1rem;
    padding-bottom: 20px;

}

.icons a{
    
    width: 35px;
    height: 35px;
    display: flex;
    position: relative;
    right: 1.5rem;
    float: left;


}

span{
    padding-right: 20rem;
    font-style: italic;
}

section p{
    margin-bottom: 1rem;
}

article h1{
    color: #fff;
    font-size: 2.5rem;
   
    text-align-last: left;
}

.meio {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.meio img {
    height: 80%;
    position: absolute;
    bottom: 0;
    left: 35%;
}